.idea/*
**/.idea/*
*.iml
.gradle
local.properties

*~

build
counts
batches
_batches
core/src/main/resources/schema.docs.graphql
/token
results
restResponse
dataset
repositories
GerritResults
gradle.properties
*.log
*.log.lck